<div class="bg-gray-900 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="/mark.svg" alt="Your Company" class="mx-auto h-10 w-auto" />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">
            Sign in to your account
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form [formRoot]="loginForm" class="space-y-6">
            <div>
                <label for="username" class="block text-sm/6 font-medium text-gray-100">
                    Username
                </label>
                <div class="mt-2">
                    <input id="username" type="text" autocomplete="username" [formField]="loginForm.username"
                        class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
                </div>

                @if (loginForm.username().touched() && loginForm.username().invalid()) {
                <div class="mt-2 text-sm text-red-400">
                    @for (error of loginForm.username().errors(); track error) {
                    <p>{{ error.message }}</p>
                    }
                </div>
                }
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-100">
                        Password
                    </label>
                    <div class="text-sm"></div>
                </div>

                <div class="mt-2">
                    <input id="password" type="password" autocomplete="current-password"
                        [formField]="loginForm.password"
                        class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
                </div>

                @if (loginForm.password().touched() && loginForm.password().invalid()) {
                <div class="mt-2 text-sm text-red-400">
                    @for (error of loginForm.password().errors(); track error) {
                    <p>{{ error.message }}</p>
                    }
                </div>
                }
            </div>

            <div>
                <button type="submit" [disabled]="loginForm().submitting()"
                    class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 disabled:opacity-50 disabled:cursor-not-allowed focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                    @if (loginForm().submitting()) {
                    Signing in...
                    } @else {
                    Sign in
                    }
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-400">
            Not a member?
            <span routerLink="/signup" class="font-semibold cursor-pointer text-indigo-400 hover:text-indigo-300">
                Sign Up
            </span>
        </p>
    </div>
</div>