/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

app-tab-container {
	--mdc-tab-height: 36px;
}

app-tab-container .mat-mdc-tab {
	height: 36px;
	padding-inline: 10px;
}

app-tab-container .mat-mdc-icon-button {
	width: 28px;
	height: 28px;
	padding: 2px;
}
